.Form {
  width: 100%;
  height: 700px;
  position: relative;

  .formContainer {
    position: absolute;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
      width: 80%;
      height: 70%;

      p {
        margin-top: 0;
        margin-bottom: 20px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1em;
        text-transform: lowercase;
        color: #ffc700;
      }
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        width: 95px;
        height: 37px;
        left: 69px;
        top: 227px;
        background: #ffc700;
        border-radius: 4px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-transform: capitalize;
        color: #000000;
      }

      .personalInfo {
        margin: 0;
        padding: 0;
        width: 87%;
        height: 180px;
        display: flex;
        flex-direction: column;

        .name {
          margin: 0;
          padding: 0;
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-between;

          .firstName,
          .lastName {
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 4px;
            width: 190px;
            height: 37px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 27px;
            text-transform: capitalize;
            color: #656262;

            &::placeholder {
              padding-left: 10px;
            }
          }
        }

        .email,
        .password {
          margin-top: 20px;
          border: 1px solid #000000;
          box-sizing: border-box;
          border-radius: 4px;
          width: 400px;
          height: 37px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 27px;
          text-transform: capitalize;
          color: #656262;

          &::placeholder {
            padding-left: 10px;
          }
        }
      }

      .contactInfo {
        // margin-top: 40px;
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 15px;
          margin-top: 10px;
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          letter-spacing: 0.1em;
          text-transform: lowercase;
          color: #ffc700;
        }

        .mobileNumber {
          border: 1px solid #000000;
          box-sizing: border-box;
          border-radius: 4px;
          width: 400px;
          height: 37px;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 27px;
          text-transform: capitalize;
          color: #656262;
          &::placeholder {
            padding-left: 10px;
          }
        }

        .postCode {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 27px;
          text-transform: capitalize;
          color: #656262;
          width: 190px;
          height: 37px;
          border: 1px solid #000000;
          box-sizing: border-box;
          border-radius: 4px;
          &::placeholder {
            padding-left: 10px;
          }
        }
      }
      button {
        width: 173px;
        height: 38px;
        left: 70px;
        top: 730px;
        background: #ffc700;
        border: 2px solid #ffc700;
        box-sizing: border-box;
        font-family: Roboto;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #000000;
      }
    }
  }
  .cheeseOne {
    position: absolute;
    top: 20px;
    left: 320px;
    width: 65px;
    height: 60px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .vegetables {
    position: absolute;
    bottom: 350px;
    left: 500px;
    width: 55px;
    height: 50px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .cheese {
    position: absolute;
    bottom: 150px;
    left: 350px;
    width: 60px;
    height: 60px;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .carrot {
    position: absolute;
    top: 20px;
    right: 80px;
    width: 60px;
    height: 60px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
